doctype html
html(lang="en" ng-app="blockly-quiz")
	head
		meta(charset="utf-8")
		title Blockly Quiz
		meta(name="Description" content="First Code Academy Programming Test")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.18.1/select.min.css" rel="stylesheet" type="text/css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js")
		script(src="https://cdn.rawgit.com/google/blockly/5022ace75bbb3d73d6bd9cc8480d1bcc15c52ec1/blockly_compressed.js")
		script(src="https://cdn.rawgit.com/google/blockly/5022ace75bbb3d73d6bd9cc8480d1bcc15c52ec1/blocks_compressed.js")
		script(src="https://cdn.rawgit.com/google/blockly/5022ace75bbb3d73d6bd9cc8480d1bcc15c52ec1/javascript_compressed.js")
		script(src="https://cdn.rawgit.com/google/blockly/5022ace75bbb3d73d6bd9cc8480d1bcc15c52ec1/msg/js/en.js")
	body
		div(ng-view)

		script
			include:coffee-script main.coffee
			include:coffee-script ./msgModal/msgModalService.coffee

		include ./quiz.jade
		include ./msgModal/msgModal.jade

		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js")
