script
	include:coffee-script quizController.coffee
script(type="text/ng-template" id="views/quiz")
	.container#quiz-view
		.col-md-12.col-sm-12
			.panel.panel-default
				.panel-heading
					h2 Blockly Quiz
				.panel-body
					span.btn-toolbar.pull-right
						.btn-group
							button.btn.btn-default.glyphicon.glyphicon-chevron-left(type="button" ng-click="goToQuestion(questions[question.index - 1])" ng-disabled="question.index === 0")
							.btn-group(uib-dropdown)
								button.btn.btn-link(uib-dropdown-toggle) Question {{question.index + 1}} of {{questions.length}}
								ul.dropdown-menu(uib-dropdown-menu)
									li(role="menuitem" ng-repeat="q in questions")
										a(href="" ng-click="goToQuestion(q)") Q.{{q.index + 1}} {{q.title}}
							button.btn.btn-default.glyphicon.glyphicon-chevron-right(type="button" ng-click="goToQuestion(questions[question.index + 1])" ng-disabled="question.index === questions.length - 1")
					h3 {{question.title}}
					p {{question.description}}
					p Tutorial: 
						a(ng-href="{{question.tutorial.url}}") {{question.tutorial.title}}
					#blocklyDiv(style="height: 400px; width: 880px;")
					br
					div(ng-show="showJs")
						p Javascript:
						pre {{javascript}}
					a(href="" uib-tooltip="{{question.hint}}") Hint
					.btn-toolbar.pull-right
						button.btn.btn-default(type="button" ng-click="showCode()") {{showJs ? 'Hide' : 'Show'}} Javascript
						button.btn.btn-primary(type="button" ng-click="submit()") Submit
